### Introduction to PyArrow

*   PyArrow serves as a cross-language development environment specifically designed for in-memory data.
*   Its primary goal is to boost the performance of analytics applications.
*   Emerging from the Apache Arrow project, PyArrow aims to make data interoperability better across different languages and systems.
*   It uses an in-memory columnar data representation, offering an optimized memory footprint for complex data structures.
*   With zero-copy reads, it facilitates quick data sharing between Python and other languages, sidestepping the need for serialization.
*   It supports schemas and metadata, providing data structures that are rich and self-describing.

### PyArrow and Parquet

*   PyArrow offers seamless reading and writing operations for Parquet files.
*   With column pruning, you can selectively read only the necessary columns from a Parquet file, reducing I/O time.

In [183]:
import pyarrow.parquet as pq 
table = pq.read_table('your_file.parquet', columns=['column1', 'column2']) 
# Potentially conver the file to pandas if needed for more sophisticated splicing and dicing.
df = table.to_pandas()

### Apache Arrow

```The core feature of Apache Arrow is its in-memory columnar format. This language-agnostic standard is designed to store structured, table-like datasets efficiently in memory. The data format supports a rich set of data types, including nested and user-defined types, making it suitable for analytic databases, data frame libraries, and more.``` 

The Apache Arrow Project

<div align="center">
<img src="https://blog.djnavarro.net/posts/2021-11-19_starting-apache-arrow-in-r/img/with_arrow.jpg" width=700>
</div>

[picture source](https://blog.djnavarro.net/posts/2021-11-19_starting-apache-arrow-in-r/)

In [ ]:
# !pip install pyarrow`

### PyArrow Data Structures

*   PyArrow offers a suite of low-level data structures and methods optimized for both speed and flexibility.
*   These structures can be used seamlessly across multiple languages.

### Arrow Array

*   An Arrow Array is essentially a column of data stored in an efficient, contiguous block of memory.
*   Unlike Python lists, these arrays are optimized for high-speed operations and can be transferred across languages without incurring serialization costs.

In [6]:
import pyarrow as pa
arrow_array = pa.array([1, 2, 3, 4, 5])
print(type(arrow_array))
print("---------")
print(arrow_array)

<class 'pyarrow.lib.Int64Array'>
---------
[
  1,
  2,
  3,
  4,
  5
]

### Arrow Buffer

* While not a data structure per se, Arrow Buffers are pivotal in understanding Arrow functionality.
* Buffers are blocks of memory that house the data for Arrow Arrays, contributing to efficient storage.
* You can even access the buffer's content directly.

In [7]:
buffer = arrow_array.buffers()[1]
print(buffer)

<pyarrow.Buffer address=0x59974030140 size=40 is_cpu=True is_mutable=True>

In [8]:
byte_data = buffer.to_pybytes()
print(byte_data)

b'\x01\x00\x00\x00\x00\x00\x00\x00\x02\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x04\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00'

### Arrow Buffer - Cont'd

* Here, the buffer's data contains 40 bytes, each 8 bytes representing an `int64` value for each of the 5 elements in the array.
* You can use this buffer data to create a new NumPy array, showing that Arrow and NumPy can share memory.

In [10]:
import numpy as np 
numpy_array = np.frombuffer(buffer, dtype=np.int64)
numpy_array

array([1, 2, 3, 4, 5])

In [11]:
np.shares_memory(arrow_array, numpy_array)

True

### Arrow Buffer - Cont'd

* Both `arrow_array` and `numpy_array` share the same underlying data, demonstrating the concept of zero-copy.
* You can confirm this by modifying a value in one array and seeing the change in the other.
  * Both arrays will now show the updated value.

In [12]:
numpy_array[1] = 0
numpy_array

array([1, 0, 3, 4, 5])

In [13]:
arrow_array

<pyarrow.lib.Int64Array object at 0x105c51340>
[
  1,
  0,
  3,
  4,
  5
]

### Schema

* A schema in PyArrow defines the structure, column names, and types for Arrow Arrays.
* Schemas are crucial as they set the framework for data manipulation and operations in Arrow.
  * Give Arrow an idea on how to encode the data

In [20]:
schema = pa.schema([('column1', pa.int64()), ('column2', pa.string())])
print(schema)

column1: int64
column2: string

### Chunked Array

*   A Chunked Array in PyArrow is like a single Arrow Array but divided into smaller "chunks."
*   This structure allows for the storage and processing of datasets that are too large to fit in memory.
*   It's commonly used in distributed computing frameworks and data streaming scenarios.

* For example:
  * you could have data sent in chunks to optimize throughput
  * you might have multiple nodes in a distributed system each producing Arrow Arrays that are collected and represented as a ChunkedArray by the master node.

* From a user perspective, a Chunked Array appears as a contiguous sequence of data.

In [22]:
results_node_1 = pa.array([0,1,2,3,4])
results_node_2 = pa.array([5,6,7,8,9,10])
chunked_array = pa.chunked_array([results_node_1, results_node_2])
chunked_array

<pyarrow.lib.ChunkedArray object at 0x1269cc3b0>
[
  [
    0,
    1,
    2,
    3,
    4
  ],
  [
    5,
    6,
    7,
    8,
    9,
    10
  ]
]

### Chunked Array - Cont'd

* You can index into a single position or even across multiple chunks, making the data handling more versatile.
* You can also access individual chunks, allowing for parallel processing.

In [23]:
chunked_array[3:6]

<pyarrow.lib.ChunkedArray object at 0x1269cc4a0>
[
  [
    3,
    4
  ],
  [
    5
  ]
]

In [24]:
chunked_array.chunk(0)

<pyarrow.lib.Int64Array object at 0x1268b69a0>
[
  0,
  1,
  2,
  3,
  4
]

### Table

* A Table in PyArrow is a container for multiple Arrow ChunkedArrays with a common schema.
* Each column in the Table is an Arrow ChunkedArray, and all columns share the same length.
* Tables offer an ideal format for handling data in the form of a dataframe.
* Tables can also be partitioned across multiple files for large-scale storage, or to be sent across a network, or even to be stored in-memory on a single machine.

In [25]:
column1 = pa.array([0, 1, 2, 3, 4]) 
column2 = pa.array(['a', 'b', 'c', 'd', 'e'])
table = pa.table({'column1': column1, 'column2': column2})  

table

pyarrow.Table
column1: int64
column2: string
----
column1: [[0,1,2,3,4]]
column2: [["a","b","c","d","e"]]

### Record Batch

*   A Record Batch is a collection of Arrow Arrays (columns) with the same length, all of which are bundled together with a schema.
*   Much like a Chunked Array is a collection of Arrow Arrays, a Table in Apache Arrow is a collection of Record Batches.

* Conceptual Relationship
  *   In Apache Arrow, the concept of a Record Batch is to a Table what an Arrow Array is to a Chunked Array.
    *   Arrays can be grouped together to form a Chunked Array.
    *   Record Batches can be grouped together to form a Table.

### Record Batch - Cont'd

* Use Cases
  *   The choice between using a Record Batch or a Table often depends on your specific needs. E.g.:
    
  *  Streaming Data: If you need to process data on-the-fly, perhaps in a streaming application where you want to process each chunk as it arrives, Record Batches are a good choice.
    *   You can serialize and process each Record Batch independently as they arrive, without having to wait for the entire data set.

In [35]:

column1_array = pa.array([1, 2, 3, 4, 5])
column2_array = pa.array(['a', 'b', 'c', 'd', 'e'])
schema = pa.schema([('column1', pa.int64()), ('column2', pa.string())])

record_batch = pa.record_batch([column1_array, column2_array], schema=schema)
record_batch

pyarrow.RecordBatch
column1: int64
column2: string

In [30]:
record_batch.columns

[<pyarrow.lib.Int64Array object at 0x1269a54c0>
 [
   1,
   2,
   3,
   4,
   5
 ],
 <pyarrow.lib.StringArray object at 0x1269a5100>
 [
   "a",
   "b",
   "c",
   "d",
   "e"
 ]]

In [31]:
record_batch["column1"]

<pyarrow.lib.Int64Array object at 0x1269b1fa0>
[
  1,
  2,
  3,
  4,
  5
]

In [39]:

column1_array_new = pa.array([6, 7, 8, 9, 10])
column2_array_new = pa.array(['f', 'g', 'h', 'i', 'j'])
record_batch_new = pa.record_batch([column1_array_new, column2_array_new], schema=schema)


table = pa.Table.from_batches([record_batch, record_batch_new], schema=schema)
table

pyarrow.Table
column1: int64
column2: string
----
column1: [[1,2,3,4,5],[6,7,8,9,10]]
column2: [["a","b","c","d","e"],["f","g","h","i","j"]]

### Record Batch - Cont'd

* In the example above, two Record Batches are combined to create a single Table. 
  * This is analogous to how individual Arrow Arrays can be combined to create a Chunked Array
  * Reinforces the idea that a Record Batch is to a Table what an Arrow Array is to a Chunked Array.

### Dive Into Real Data: Parquet and Memory Efficiency

1.  Let's get hands-on and read a Parquet file using Apache Arrow.
2.  Take note: the size of the data when using PyArrow is substantially smaller than a Pandas DataFrame for the same data.
3.  Think of this as a little teaser to whet your appetite for data science goodness.

**Note**: Here, I'm using the `parquet` module from the PyArrow package. This module knows how to read Parquet files among other things.

In [40]:
import pyarrow.parquet as pq
table = pq.read_table('/Users/mahdi/Downloads/fhvhv_tripdata_2022-06.parquet')
table

pyarrow.Table
hvfhs_license_num: string
dispatching_base_num: string
originating_base_num: string
request_datetime: timestamp[us]
on_scene_datetime: timestamp[us]
pickup_datetime: timestamp[us]
dropoff_datetime: timestamp[us]
PULocationID: int64
DOLocationID: int64
trip_miles: double
trip_time: int64
base_passenger_fare: double
tolls: double
bcf: double
sales_tax: double
congestion_surcharge: double
airport_fee: double
tips: double
driver_pay: double
shared_request_flag: string
shared_match_flag: string
access_a_ride_flag: string
wav_request_flag: string
wav_match_flag: string
----
hvfhs_license_num: [["HV0003","HV0003","HV0003","HV0003","HV0005",...,"HV0005","HV0003","HV0005","HV0005","HV0005"],["HV0003","HV0005","HV0003","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0003"],...,["HV0005","HV0005","HV0005","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0003"],["HV0003","HV0005","HV0003","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0005"]]
dispatching_base_num: [["B03404","B03404","B03404","B03404","B03406",...,"B03406","B03404","B03406","B03406","B03406"],["B03404","B03406","B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],...,["B03406","B03406","B03406","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],["B03404","B03406","B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03406"]]
originating_base_num: [["B03404","B03404","B03404","B03404",null,...,null,"B03404",null,null,null],["B03404",null,"B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],...,[null,null,null,"B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],["B03404",null,"B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404",null]]
request_datetime: [[2022-06-01 00:15:35.000000,2022-06-01 00:39:04.000000,2022-06-01 00:27:53.000000,2022-06-01 00:48:15.000000,2022-06-01 00:04:51.000000,...,2022-06-01 09:27:01.000000,2022-06-01 09:10:29.000000,2022-06-01 08:51:09.000000,2022-06-01 09:14:34.000000,2022-06-01 09:39:53.000000],[2022-06-01 09:15:07.000000,2022-06-01 09:37:37.000000,2022-06-01 09:17:57.000000,2022-06-01 09:02:01.000000,2022-06-01 09:22:55.000000,...,2022-06-01 14:33:14.000000,2022-06-01 14:02:15.000000,2022-06-01 14:30:21.000000,2022-06-01 14:16:09.000000,2022-06-01 14:28:30.000000],...,[2022-06-30 16:03:07.000000,2022-06-30 16:23:58.000000,2022-06-30 16:48:38.000000,2022-06-30 16:18:52.000000,2022-06-30 16:37:05.000000,...,2022-06-30 21:47:53.000000,2022-06-30 21:10:29.000000,2022-06-30 21:16:48.000000,2022-06-30 21:28:51.000000,2022-06-30 21:43:34.000000],[2022-06-30 21:50:10.000000,2022-06-30 21:38:54.000000,2022-06-30 21:37:35.000000,2022-06-30 21:14:54.000000,2022-06-30 21:49:59.000000,...,2022-06-30 23:20:49.000000,2022-06-30 23:36:13.000000,2022-06-30 23:50:50.000000,2022-06-30 23:02:40.000000,2022-06-30 23:00:28.000000]]
on_scene_datetime: [[2022-06-01 00:17:20.000000,2022-06-01 00:40:36.000000,2022-06-01 00:31:34.000000,2022-06-01 00:49:38.000000,null,...,null,2022-06-01 09:12:34.000000,null,null,null],[2022-06-01 09:15:46.000000,null,2022-06-01 09:21:35.000000,2022-06-01 09:05:21.000000,2022-06-01 09:25:11.000000,...,2022-06-01 14:34:13.000000,2022-06-01 14:10:04.000000,2022-06-01 14:35:24.000000,2022-06-01 14:18:34.000000,2022-06-01 14:29:51.000000],...,[null,null,null,2022-06-30 16:25:34.000000,2022-06-30 16:39:05.000000,...,2022-06-30 21:50:19.000000,2022-06-30 21:16:34.000000,2022-06-30 21:20:52.000000,2022-06-30 21:31:48.000000,2022-06-30 21:44:12.000000],[2022-06-30 21:54:20.000000,null,2022-06-30 21:38:44.000000,2022-06-30 21:16:41.000000,2022-06-30 21:54:09.000000,...,2022-06-30 23:24:23.000000,2022-06-30 23:39:12.000000,2022-06-30 23:55:11.000000,2022-06-30 23:04:58.000000,null]]
pickup_datetime: [[2022-06-01 00:17:41.000000,2022-06-01 00:42:37.000000,2022-06-01 00:36:22.000000,2022-06-01 00:51:18.000000,2022-06-01 00:13:33.000000,...,2022-06-01 09:30:54.000000,2022-06-01 09:12:38.000000,2022-06-01 09:04:49.000000,2022-06-01 09:20:02.000000,2022-06-01 09:44:46.000000],[2022-06-01 09:17:46.000000,2022-06-01 09:38:31.000000,2022-06-01 09:22:00.000000,2022-06-01 09:05:31.000000,2022-06-01 09:26:04.000000,...,2022-06-01 14:35:32.000000,2022-06-01 14:10:14.000000,2022-06-01 14:36:04.000000,2022-06-01 14:18:43.000000,2022-06-01 14:32:11.000000],...,[2022-06-30 16:08:46.000000,2022-06-30 16:28:06.000000,2022-06-30 16:58:02.000000,2022-06-30 16:25:42.000000,2022-06-30 16:40:48.000000,...,2022-06-30 21:51:26.000000,2022-06-30 21:17:21.000000,2022-06-30 21:22:53.000000,2022-06-30 21:32:20.000000,2022-06-30 21:45:36.000000],[2022-06-30 21:56:21.000000,2022-06-30 21:41:17.000000,2022-06-30 21:39:34.000000,2022-06-30 21:18:28.000000,2022-06-30 21:55:55.000000,...,2022-06-30 23:24:43.000000,2022-06-30 23:39:20.000000,2022-06-30 23:57:12.000000,2022-06-30 23:06:44.000000,2022-06-30 23:03:06.000000]]
dropoff_datetime: [[2022-06-01 00:25:41.000000,2022-06-01 00:56:32.000000,2022-06-01 00:45:31.000000,2022-06-01 01:11:15.000000,2022-06-01 00:17:27.000000,...,2022-06-01 09:41:04.000000,2022-06-01 09:14:46.000000,2022-06-01 09:16:44.000000,2022-06-01 09:34:10.000000,2022-06-01 10:01:02.000000],[2022-06-01 09:24:48.000000,2022-06-01 09:58:51.000000,2022-06-01 10:07:51.000000,2022-06-01 09:54:00.000000,2022-06-01 09:34:02.000000,...,2022-06-01 14:57:26.000000,2022-06-01 14:31:23.000000,2022-06-01 14:57:52.000000,2022-06-01 14:28:05.000000,2022-06-01 15:00:40.000000],...,[2022-06-30 16:19:05.000000,2022-06-30 16:45:30.000000,2022-06-30 17:25:43.000000,2022-06-30 16:36:19.000000,2022-06-30 16:48:40.000000,...,2022-06-30 21:58:39.000000,2022-06-30 21:43:31.000000,2022-06-30 21:30:31.000000,2022-06-30 21:43:01.000000,2022-06-30 21:52:27.000000],[2022-06-30 22:03:42.000000,2022-06-30 21:56:58.000000,2022-06-30 21:53:26.000000,2022-06-30 21:49:15.000000,2022-06-30 22:33:30.000000,...,2022-06-30 23:38:19.000000,2022-06-30 23:51:10.000000,2022-07-01 00:07:07.000000,2022-06-30 23:26:28.000000,2022-06-30 23:18:13.000000]]
PULocationID: [[234,161,231,87,137,...,97,23,85,72,72],[141,164,138,145,173,...,141,140,168,236,239],...,[248,208,208,107,230,...,161,68,158,158,186],[246,66,252,188,76,...,74,224,231,234,244]]
DOLocationID: [[114,151,87,225,162,...,65,23,39,72,89],[237,140,164,174,56,...,75,168,260,238,232],...,[208,208,168,230,161,...,164,37,158,164,246],[48,232,121,76,148,...,224,13,231,48,242]]
trip_miles: [[1.5,4.18,2.91,5.45,1.069,...,1.151,0.35,2.211,1.456,1.978],[0.53,2.602,8.81,13.26,1.15,...,2.69,3.81,5.77,1.57,6.96],...,[4.159,2.513,6.552,1.32,0.9,...,1.11,7.06,1.2,1.49,0.97],[0.81,2.443,6.31,5.97,13.53,...,6.07,4.9,0.53,2.85,6.207]]
...

In [45]:
import sys
sys.getsizeof(table) / 1024 / 1024 / 1024

3.03908724244684

In [42]:
# import os
# import psutil
# def print_mem():
#     gig = psutil.Process(os.getpid()).memory_info().rss / 1024 ** 3
#     print(f"{gig} gigabytes")

# print_mem()

3.64825439453125 gigabytes

In [46]:
import pandas as pd
df = pd.read_parquet('/Users/mahdi/Downloads/fhvhv_tripdata_2022-06.parquet')
sys.getsizeof(df) / 1024 / 1024 / 1024

9.87973692920059


### Apache Arrow Datasets


*   Datasets in PyArrow let you work with large tabular data, even when it's larger than your machine's memory
*   It offers lazy data access, meaning you don't have to load the entire dataset into memory.
*   Datasets support data discovery, partitioning, and compatibility with various file systems like AWS, Google Cloud, and local storage.
  * I can read from AWS or Google without having to install anything.

* import the dataset library as:

```python
import pyarrow.dataset as ds
```

### Dataset Overview

* Provider: New York City Taxi and Limousine Commission (TLC)
* Data hosted on AWS. The URSA-LAB company account.
* Contains data on millions of taxi and limousine trips in NYC
* Time Period: 2009 to 2019

In [49]:
# **Note**: In the AWS S3 listing, "PRE" stands for "prefix," essentially representing a folder or directory.

!aws s3 ls "s3://ursa-labs-taxi-data/"

                           PRE 2009/
                           PRE 2010/
                           PRE 2011/
                           PRE 2012/
                           PRE 2013/
                           PRE 2014/
                           PRE 2015/
                           PRE 2016/
                           PRE 2017/
                           PRE 2018/
                           PRE 2019/

In [50]:
!aws s3 ls "s3://ursa-labs-taxi-data/2009/"

                           PRE 01/
                           PRE 02/
                           PRE 03/
                           PRE 04/
                           PRE 05/
                           PRE 06/
                           PRE 07/
                           PRE 08/
                           PRE 09/
                           PRE 10/
                           PRE 11/
                           PRE 12/

In [2]:
%%time
import pyarrow.dataset as ds
dataset = ds.dataset("s3://ursa-labs-taxi-data/", partitioning=["year", "month"])
dataset

CPU times: user 171 ms, sys: 257 ms, total: 428 ms
Wall time: 7.54 s

In [3]:
len(dataset.files)

125

In [4]:
dataset.files[0:10]

['ursa-labs-taxi-data/2009/01/data.parquet',
 'ursa-labs-taxi-data/2009/02/data.parquet',
 'ursa-labs-taxi-data/2009/03/data.parquet',
 'ursa-labs-taxi-data/2009/04/data.parquet',
 'ursa-labs-taxi-data/2009/05/data.parquet',
 'ursa-labs-taxi-data/2009/06/data.parquet',
 'ursa-labs-taxi-data/2009/07/data.parquet',
 'ursa-labs-taxi-data/2009/08/data.parquet',
 'ursa-labs-taxi-data/2009/09/data.parquet',
 'ursa-labs-taxi-data/2009/10/data.parquet']

In [5]:
# Here's how to load just one file (a fragment) and its schema:

frag = next(dataset.get_fragments())
frag.partition_expression

#### Play with a Single File

* Let's read in the data from this single fragment
* Take a look at the data
* List of column names

In [6]:
%%time
frag_table = frag.to_table()
frag_table

CPU times: user 7.54 s, sys: 5.97 s, total: 13.5 s
Wall time: 1min 36s

pyarrow.Table
vendor_id: string
pickup_at: timestamp[us]
dropoff_at: timestamp[us]
passenger_count: int8
trip_distance: float
pickup_longitude: float
pickup_latitude: float
rate_code_id: null
store_and_fwd_flag: string
dropoff_longitude: float
dropoff_latitude: float
payment_type: string
fare_amount: float
extra: float
mta_tax: float
tip_amount: float
tolls_amount: float
total_amount: float
----
vendor_id: [["VTS","VTS","VTS","DDS","DDS",...,"DDS","CMT","CMT","CMT","CMT"],["CMT","DDS","DDS","CMT","DDS",...,"CMT","CMT","CMT","CMT","CMT"],...,["CMT","CMT","DDS","CMT","CMT",...,"VTS","CMT","VTS","VTS","VTS"],["VTS","VTS","VTS","VTS","VTS",...,"VTS","VTS","CMT","VTS","CMT"]]
pickup_at: [[2009-01-04 02:52:00.000000,2009-01-04 03:31:00.000000,2009-01-03 15:43:00.000000,2009-01-01 20:52:58.000000,2009-01-24 16:18:23.000000,...,2009-01-01 22:42:49.000000,2009-01-04 18:27:32.000000,2009-01-04 11:48:33.000000,2009-01-04 23:21:04.000000,2009-01-04 16:11:27.000000],[2009-01-04 21:54:44.000000,2009-01-02 15:41:33.000000,2009-01-02 13:20:36.000000,2009-01-04 14:00:03.000000,2009-01-28 13:53:51.000000,...,2009-01-25 10:50:39.000000,2009-01-25 11:49:11.000000,2009-01-21 12:47:20.000000,2009-01-25 13:20:23.000000,2009-01-30 12:53:03.000000],...,[2009-01-21 08:17:06.000000,2009-01-20 20:09:15.000000,2009-01-09 19:14:11.000000,2009-01-20 21:02:47.000000,2009-01-21 08:37:05.000000,...,2009-01-25 00:04:00.000000,2009-01-01 01:30:02.000000,2009-01-25 14:40:00.000000,2009-01-22 20:46:00.000000,2009-01-25 13:07:00.000000],[2009-01-25 06:39:00.000000,2009-01-25 15:00:00.000000,2009-01-25 10:11:00.000000,2009-01-25 04:19:00.000000,2009-01-23 19:59:00.000000,...,2009-01-27 14:36:00.000000,2009-01-27 13:56:00.000000,2009-01-23 08:39:44.000000,2009-01-24 23:05:00.000000,2009-01-23 14:39:02.000000]]
dropoff_at: [[2009-01-04 03:02:00.000000,2009-01-04 03:38:00.000000,2009-01-03 15:57:00.000000,2009-01-01 21:14:00.000000,2009-01-24 16:24:56.000000,...,2009-01-01 23:01:49.000000,2009-01-04 18:31:39.000000,2009-01-04 11:54:40.000000,2009-01-04 23:24:16.000000,2009-01-04 16:24:19.000000],[2009-01-04 21:58:25.000000,2009-01-02 15:45:22.000000,2009-01-02 13:32:59.000000,2009-01-04 14:03:02.000000,2009-01-28 14:02:28.000000,...,2009-01-25 10:52:42.000000,2009-01-25 12:07:32.000000,2009-01-21 13:01:08.000000,2009-01-25 13:24:09.000000,2009-01-30 12:59:29.000000],...,[2009-01-21 09:16:34.000000,2009-01-20 20:12:52.000000,2009-01-09 19:27:18.000000,2009-01-20 21:18:31.000000,2009-01-21 08:40:51.000000,...,2009-01-25 00:23:00.000000,2009-01-01 01:49:06.000000,2009-01-25 14:48:00.000000,2009-01-22 20:53:00.000000,2009-01-25 13:20:00.000000],[2009-01-25 06:44:00.000000,2009-01-25 15:04:00.000000,2009-01-25 10:16:00.000000,2009-01-25 04:33:00.000000,2009-01-23 20:14:00.000000,...,2009-01-27 14:46:00.000000,2009-01-27 14:02:00.000000,2009-01-23 09:02:15.000000,2009-01-24 23:15:00.000000,2009-01-23 15:35:15.000000]]
passenger_count: [[1,3,5,1,1,...,1,1,1,1,2],[2,2,2,1,2,...,2,2,1,1,1],...,[1,1,1,1,1,...,5,2,5,1,5],[5,1,1,5,1,...,5,1,1,3,1]]
trip_distance: [[2.63,4.55,10.35,5,0.4,...,3.7,0.9,0.5,1.1,1.3],[1.1,0.6,0.9,1.2,1,...,1,6.8,1.3,0.7,1],...,[20.7,0.2,2.1,2.3,0.5,...,5.2,4.3,0.86,1.62,1.53],[1.43,0.58,1.36,3.02,2.91,...,0.89,1.94,3.8,3.85,17.3]]
pickup_longitude: [[-73.99196,-73.9821,-74.00259,-73.974266,-74.00158,...,-73.992744,-73.99128,-73.98005,-73.97288,-73.9776],[-73.9908,-73.975716,-73.97441,-73.97065,-73.990135,...,-73.97786,-73.95457,0,-73.97422,-73.966644],...,[-73.78204,-73.98393,-73.979645,-73.99633,-73.98092,...,-73.97414,-73.982925,-73.953926,-73.999596,-73.99288],[-73.970604,-73.99453,-73.9917,-74.00047,-73.99772,...,-73.98201,-73.972786,-73.97747,-73.98129,0]]
pickup_latitude: [[40.721565,40.73629,40.739746,40.790955,40.719383,...,40.713802,40.723892,40.754658,40.79333,40.752],[40.751076,40.748226,40.76322,40.752747,40.740852,...,40.74217,40.78086,0,40.783566,40.804012],...,[40.644768,40.749287,40.7554,40.737335,40.76395,...,40.78377,40.73503,40.76648,40.733482,40.72419],[40.76505,40.75172,40.739643,40.728706,40.72436,...,40.74333,40.76199,40.75186,40.753,0]]
rate_code_id: [65536 nulls,65536 nulls,...,65536 nulls,2173 nulls]
store_and_fwd_flag: [[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null],...,[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
dropoff_longitude: [[-73.993805,-73.95585,-73.86998,-73.99656,-74.00838,...,-73.98663,-73.98523,-73.98596,-73.981995,-73.99347],[-74.00014,-73.97249,-73.98696,-73.98271,-73.99506,...,-73.98757,-73.93975,0,-73.982,-73.95343],...,[-73.96209,-73.98791,-74.005585,-73.97921,-73.98632,...,-73.917816,-73.96772,-73.96618,-74.00464,-74.00712],[-73.980606,-74.00163,-73.97803,-73.97005,-73.98376,...,-73.99433,-73.95148,-74.00991,-73.949455,0]]
...

In [8]:
frag_table.column_names

['vendor_id',
 'pickup_at',
 'dropoff_at',
 'passenger_count',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'rate_code_id',
 'store_and_fwd_flag',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount']

In [9]:
frag_table.num_rows

14092413

In [10]:
frag_table

pyarrow.Table
vendor_id: string
pickup_at: timestamp[us]
dropoff_at: timestamp[us]
passenger_count: int8
trip_distance: float
pickup_longitude: float
pickup_latitude: float
rate_code_id: null
store_and_fwd_flag: string
dropoff_longitude: float
dropoff_latitude: float
payment_type: string
fare_amount: float
extra: float
mta_tax: float
tip_amount: float
tolls_amount: float
total_amount: float
----
vendor_id: [["VTS","VTS","VTS","DDS","DDS",...,"DDS","CMT","CMT","CMT","CMT"],["CMT","DDS","DDS","CMT","DDS",...,"CMT","CMT","CMT","CMT","CMT"],...,["CMT","CMT","DDS","CMT","CMT",...,"VTS","CMT","VTS","VTS","VTS"],["VTS","VTS","VTS","VTS","VTS",...,"VTS","VTS","CMT","VTS","CMT"]]
pickup_at: [[2009-01-04 02:52:00.000000,2009-01-04 03:31:00.000000,2009-01-03 15:43:00.000000,2009-01-01 20:52:58.000000,2009-01-24 16:18:23.000000,...,2009-01-01 22:42:49.000000,2009-01-04 18:27:32.000000,2009-01-04 11:48:33.000000,2009-01-04 23:21:04.000000,2009-01-04 16:11:27.000000],[2009-01-04 21:54:44.000000,2009-01-02 15:41:33.000000,2009-01-02 13:20:36.000000,2009-01-04 14:00:03.000000,2009-01-28 13:53:51.000000,...,2009-01-25 10:50:39.000000,2009-01-25 11:49:11.000000,2009-01-21 12:47:20.000000,2009-01-25 13:20:23.000000,2009-01-30 12:53:03.000000],...,[2009-01-21 08:17:06.000000,2009-01-20 20:09:15.000000,2009-01-09 19:14:11.000000,2009-01-20 21:02:47.000000,2009-01-21 08:37:05.000000,...,2009-01-25 00:04:00.000000,2009-01-01 01:30:02.000000,2009-01-25 14:40:00.000000,2009-01-22 20:46:00.000000,2009-01-25 13:07:00.000000],[2009-01-25 06:39:00.000000,2009-01-25 15:00:00.000000,2009-01-25 10:11:00.000000,2009-01-25 04:19:00.000000,2009-01-23 19:59:00.000000,...,2009-01-27 14:36:00.000000,2009-01-27 13:56:00.000000,2009-01-23 08:39:44.000000,2009-01-24 23:05:00.000000,2009-01-23 14:39:02.000000]]
dropoff_at: [[2009-01-04 03:02:00.000000,2009-01-04 03:38:00.000000,2009-01-03 15:57:00.000000,2009-01-01 21:14:00.000000,2009-01-24 16:24:56.000000,...,2009-01-01 23:01:49.000000,2009-01-04 18:31:39.000000,2009-01-04 11:54:40.000000,2009-01-04 23:24:16.000000,2009-01-04 16:24:19.000000],[2009-01-04 21:58:25.000000,2009-01-02 15:45:22.000000,2009-01-02 13:32:59.000000,2009-01-04 14:03:02.000000,2009-01-28 14:02:28.000000,...,2009-01-25 10:52:42.000000,2009-01-25 12:07:32.000000,2009-01-21 13:01:08.000000,2009-01-25 13:24:09.000000,2009-01-30 12:59:29.000000],...,[2009-01-21 09:16:34.000000,2009-01-20 20:12:52.000000,2009-01-09 19:27:18.000000,2009-01-20 21:18:31.000000,2009-01-21 08:40:51.000000,...,2009-01-25 00:23:00.000000,2009-01-01 01:49:06.000000,2009-01-25 14:48:00.000000,2009-01-22 20:53:00.000000,2009-01-25 13:20:00.000000],[2009-01-25 06:44:00.000000,2009-01-25 15:04:00.000000,2009-01-25 10:16:00.000000,2009-01-25 04:33:00.000000,2009-01-23 20:14:00.000000,...,2009-01-27 14:46:00.000000,2009-01-27 14:02:00.000000,2009-01-23 09:02:15.000000,2009-01-24 23:15:00.000000,2009-01-23 15:35:15.000000]]
passenger_count: [[1,3,5,1,1,...,1,1,1,1,2],[2,2,2,1,2,...,2,2,1,1,1],...,[1,1,1,1,1,...,5,2,5,1,5],[5,1,1,5,1,...,5,1,1,3,1]]
trip_distance: [[2.63,4.55,10.35,5,0.4,...,3.7,0.9,0.5,1.1,1.3],[1.1,0.6,0.9,1.2,1,...,1,6.8,1.3,0.7,1],...,[20.7,0.2,2.1,2.3,0.5,...,5.2,4.3,0.86,1.62,1.53],[1.43,0.58,1.36,3.02,2.91,...,0.89,1.94,3.8,3.85,17.3]]
pickup_longitude: [[-73.99196,-73.9821,-74.00259,-73.974266,-74.00158,...,-73.992744,-73.99128,-73.98005,-73.97288,-73.9776],[-73.9908,-73.975716,-73.97441,-73.97065,-73.990135,...,-73.97786,-73.95457,0,-73.97422,-73.966644],...,[-73.78204,-73.98393,-73.979645,-73.99633,-73.98092,...,-73.97414,-73.982925,-73.953926,-73.999596,-73.99288],[-73.970604,-73.99453,-73.9917,-74.00047,-73.99772,...,-73.98201,-73.972786,-73.97747,-73.98129,0]]
pickup_latitude: [[40.721565,40.73629,40.739746,40.790955,40.719383,...,40.713802,40.723892,40.754658,40.79333,40.752],[40.751076,40.748226,40.76322,40.752747,40.740852,...,40.74217,40.78086,0,40.783566,40.804012],...,[40.644768,40.749287,40.7554,40.737335,40.76395,...,40.78377,40.73503,40.76648,40.733482,40.72419],[40.76505,40.75172,40.739643,40.728706,40.72436,...,40.74333,40.76199,40.75186,40.753,0]]
rate_code_id: [65536 nulls,65536 nulls,...,65536 nulls,2173 nulls]
store_and_fwd_flag: [[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null],...,[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
dropoff_longitude: [[-73.993805,-73.95585,-73.86998,-73.99656,-74.00838,...,-73.98663,-73.98523,-73.98596,-73.981995,-73.99347],[-74.00014,-73.97249,-73.98696,-73.98271,-73.99506,...,-73.98757,-73.93975,0,-73.982,-73.95343],...,[-73.96209,-73.98791,-74.005585,-73.97921,-73.98632,...,-73.917816,-73.96772,-73.96618,-74.00464,-74.00712],[-73.980606,-74.00163,-73.97803,-73.97005,-73.98376,...,-73.99433,-73.95148,-74.00991,-73.949455,0]]
...

#### Chunks: The Building Blocks

* Remember how we talked about Arrow tables having columns that could be split into chunks? 
* If you take a look, each column is divided into 216 chunks
  * Proving that this table is built in the way we discussed earlier.
* Take just a slice of the data.

In [11]:
frag_table.slice(0, 5)

pyarrow.Table
vendor_id: string
pickup_at: timestamp[us]
dropoff_at: timestamp[us]
passenger_count: int8
trip_distance: float
pickup_longitude: float
pickup_latitude: float
rate_code_id: null
store_and_fwd_flag: string
dropoff_longitude: float
dropoff_latitude: float
payment_type: string
fare_amount: float
extra: float
mta_tax: float
tip_amount: float
tolls_amount: float
total_amount: float
----
vendor_id: [["VTS","VTS","VTS","DDS","DDS"]]
pickup_at: [[2009-01-04 02:52:00.000000,2009-01-04 03:31:00.000000,2009-01-03 15:43:00.000000,2009-01-01 20:52:58.000000,2009-01-24 16:18:23.000000]]
dropoff_at: [[2009-01-04 03:02:00.000000,2009-01-04 03:38:00.000000,2009-01-03 15:57:00.000000,2009-01-01 21:14:00.000000,2009-01-24 16:24:56.000000]]
passenger_count: [[1,3,5,1,1]]
trip_distance: [[2.63,4.55,10.35,5,0.4]]
pickup_longitude: [[-73.99196,-73.9821,-74.00259,-73.974266,-74.00158]]
pickup_latitude: [[40.721565,40.73629,40.739746,40.790955,40.719383]]
rate_code_id: [5 nulls]
store_and_fwd_flag: [[null,null,null,null,null]]
dropoff_longitude: [[-73.993805,-73.95585,-73.86998,-73.99656,-74.00838]]
...

In [12]:
[frag_table[col_name].num_chunks for col_name in frag_table.column_names]

[216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216,
 216]

### The Essentials of Apache Arrow Tables and Record Batches

*  Tables in Apache Arrow are essentially collections of record batches.
*  You can easily pull data from columns like `payment_type`, `fare_amount`, or `tip_amount`. 
* Because we're working with a single record batch, managing the data is pretty straightforward. 
  * We'll see that each column, for instance, holds 65,536 values.

In [13]:
record_batch_3 = frag_table.to_batches()[3]
record_batch_3

pyarrow.RecordBatch
vendor_id: string
pickup_at: timestamp[us]
dropoff_at: timestamp[us]
passenger_count: int8
trip_distance: float
pickup_longitude: float
pickup_latitude: float
rate_code_id: null
store_and_fwd_flag: string
dropoff_longitude: float
dropoff_latitude: float
payment_type: string
fare_amount: float
extra: float
mta_tax: float
tip_amount: float
tolls_amount: float
total_amount: float
----
vendor_id: ["DDS","DDS","CMT","CMT","CMT","CMT","CMT","DDS","DDS","CMT",...,"VTS","VTS","CMT","VTS","VTS","VTS","VTS","VTS","VTS","VTS"]
pickup_at: [2009-01-12 12:54:37.000000,2009-01-12 17:24:48.000000,2009-01-10 23:45:52.000000,2009-01-10 19:45:10.000000,2009-01-10 23:41:18.000000,2009-01-10 23:41:38.000000,2009-01-31 20:03:56.000000,2009-01-23 13:16:40.000000,2009-01-13 00:09:28.000000,2009-01-29 15:50:01.000000,...,2009-01-03 13:57:00.000000,2009-01-03 22:47:00.000000,2009-01-18 04:10:02.000000,2009-01-03 18:28:00.000000,2009-01-03 15:38:00.000000,2009-01-03 16:19:00.000000,2009-01-03 23:05:00.000000,2009-01-25 07:50:00.000000,2009-01-02 15:28:00.000000,2009-01-04 07:08:00.000000]
dropoff_at: [2009-01-12 12:59:22.000000,2009-01-12 17:39:15.000000,2009-01-10 23:48:30.000000,2009-01-10 19:55:32.000000,2009-01-10 23:43:08.000000,2009-01-10 23:58:54.000000,2009-01-31 20:17:13.000000,2009-01-23 13:26:19.000000,2009-01-13 00:13:38.000000,2009-01-29 16:06:47.000000,...,2009-01-03 14:44:00.000000,2009-01-03 22:55:00.000000,2009-01-18 04:14:02.000000,2009-01-03 18:48:00.000000,2009-01-03 15:42:00.000000,2009-01-03 16:46:00.000000,2009-01-03 23:07:00.000000,2009-01-25 08:06:00.000000,2009-01-02 15:36:00.000000,2009-01-04 07:26:00.000000]
passenger_count: [1,1,1,3,1,3,1,1,1,1,...,1,2,1,3,1,1,1,1,4,1]
trip_distance: [0.8,3.2,0.6,1.6,0.2,6.8,2.5,1.4,0.4,2.4,...,20.53,1.36,1.7,10.71,1.45,10.16,1.35,10.34,1.64,9.36]
pickup_longitude: [-73.96626,-73.98048,-73.97805,-73.98807,-73.993126,-73.9546,-74.00847,-73.969955,-73.99127,-73.95605,...,-73.789856,-73.99772,-73.97988,-73.9802,-73.98169,-73.81576,-73.988014,-73.98845,-73.97859,-73.95896]
pickup_latitude: [40.76751,40.750954,40.752308,40.74979,40.722385,40.732124,40.704304,40.784714,40.72358,40.76394,...,40.643955,40.720814,40.734673,40.72701,40.73251,40.764023,40.73781,40.731342,40.761646,40.763744]
rate_code_id: 65536 nulls
store_and_fwd_flag: [null,null,null,null,null,null,null,null,null,null,...,null,null,null,null,null,null,null,null,null,null]
dropoff_longitude: [-73.9579,-73.96642,-73.986916,-73.98978,-73.99183,-73.982735,-74.002914,-73.95634,-73.984024,-73.98601,...,-74.00891,-74.016045,-73.96773,-73.86163,-73.97239,-73.81548,-74.0017,-73.871056,-73.97276,-73.91705]
...

In [14]:
record_batch_3.num_rows

65536

In [15]:
record_batch_3["fare_amount"]

<pyarrow.lib.FloatArray object at 0x1123f5f00>
[
  4.9,
  10.5,
  4.2,
  8.2,
  3.8,
  17.8,
  9.8,
  6.9,
  3.7,
  10.5,
  ...
  45,
  6.9,
  6.2,
  25.3,
  5.7,
  25.3,
  5.3,
  24.1,
  6.9,
  22.1
]

In [78]:
record_batch_3['tip_amount']

<pyarrow.lib.FloatArray object at 0x126ac3220>
[
  0,
  0,
  0,
  0,
  0.76,
  2.67,
  2,
  0,
  0,
  0,
  ...
  0,
  0,
  0,
  5.06,
  0,
  0,
  1,
  0,
  0,
  0
]

In [16]:
record_batch_3['payment_type']

<pyarrow.lib.StringArray object at 0x1766abfa0>
[
  "CASH",
  "CASH",
  "Cash",
  "Cash",
  "Credit",
  "Credit",
  "Credit",
  "CASH",
  "CASH",
  "Cash",
  ...
  "CASH",
  "CASH",
  "Cash",
  "Credit",
  "CASH",
  "CASH",
  "Credit",
  "CASH",
  "CASH",
  "CASH"
]

#### PyArrow's Computational Capabilities

*   PyArrow separates data storage concerns from computational functionality.    
    * Structures like Arrow Arrays, Record Batches, and Tables handle data storage and serialization.
    * For actual data operations, there's the `pyarrow.compute` module.
*   The `pyarrow.compute` module offers a range of functions for filtering, transforming, and aggregating data.    
    * While it does provide useful operations, it's not a full-blown analytical tool. 
    * For more complex tasks, you'd typically use something like Pandas or Spark.

* Let's perform some computations like calculating the sum of tips and fares, etc.

In [17]:
import pyarrow.compute as pc
pc.add(record_batch_3['tip_amount'], record_batch_3['fare_amount'])

<pyarrow.lib.FloatArray object at 0x1766d48e0>
[
  4.9,
  10.5,
  4.2,
  8.2,
  4.56,
  20.47,
  11.8,
  6.9,
  3.7,
  10.5,
  ...
  45,
  6.9,
  6.2,
  30.359999,
  5.7,
  25.3,
  6.3,
  24.1,
  6.9,
  22.1
]

* How about finding the maximum total amount for a trip, including the tip?

In [18]:
pc.max(pc.add(record_batch_3['tip_amount'], record_batch_3['fare_amount']))

* And the average?

In [19]:
pc.mean(pc.add(record_batch_3['tip_amount'], record_batch_3['fare_amount']))

* We can also perform operations on string data, like converting the case of `payment_type`, which has been recorded inconsistently.

In [20]:
upper_cased_payment_type = pc.utf8_upper(record_batch_3["payment_type"])
upper_cased_payment_type

<pyarrow.lib.StringArray object at 0x1766d4520>
[
  "CASH",
  "CASH",
  "CASH",
  "CASH",
  "CREDIT",
  "CREDIT",
  "CREDIT",
  "CASH",
  "CASH",
  "CASH",
  ...
  "CASH",
  "CASH",
  "CASH",
  "CREDIT",
  "CASH",
  "CASH",
  "CREDIT",
  "CASH",
  "CASH",
  "CASH"
]

* You can then filter data based on whether the payment type was "CASH."

In [23]:
is_cash = pc.equal(upper_cased_payment_type, pa.scalar('CASH'))
is_cash

<pyarrow.lib.BooleanArray object at 0x1766d49a0>
[
  true,
  true,
  true,
  true,
  false,
  false,
  false,
  true,
  true,
  true,
  ...
  true,
  true,
  true,
  false,
  true,
  true,
  false,
  true,
  true,
  true
]

In [24]:
filtered_record_batch_3 = pc.filter(record_batch_3, is_cash)
filtered_record_batch_3
filtered_record_batch_3.num_rows

51341


#### Working with Parquet Files

* You can read Parquet data into PyArrow as a ParquetDataset, and then work with it as ParquetFile Fragments.
* Recall that: 
    * Each fragment has its own metadata, 
    * You can also get statistics about each row group within the fragment.
      * However, it's usually more efficient to work with sorted data if you carry out frequent operations
      * You can then save this sorted table into a new Parquet file for optimized data retrieval.

In [25]:
import pyarrow as pa 
import pyarrow.parquet as pq
dataset = pq.ParquetDataset('s3://ursa-labs-taxi-data/2009/', partitioning=["month"])
dataset

In [45]:
%%time 
data_table = dataset.fragments[0].to_table() 
sorted_indices = pc.sort_indices(data_table, sort_keys=[("dropoff_at", "ascending"), ("fare_amount", "ascending")])
sorted_indices

CPU times: user 8.58 s, sys: 1.58 s, total: 10.2 s
Wall time: 1min 4s

<pyarrow.lib.UInt64Array object at 0x179529c60>
[
  7128666,
  8770671,
  4811616,
  7072796,
  9304633,
  1333873,
  8582999,
  2419463,
  679644,
  2935483,
  ...
  12352984,
  5215411,
  8560388,
  11583944,
  10773005,
  11904863,
  8725710,
  3507901,
  6245344,
  743581
]

In [48]:
# takes the instances in the order specified in the variable sorted_indices
# i.e., sorting the data
sorted_table = data_table.take(sorted_indices)

In [50]:
# pq.write_table(sorted_table, 'optimized_parquet_file.parquet', row_group_size=65536)


#### Exploring Sorted Parquet Files

*   When you read the sorted table back into PyArrow, it's easier to work with.
  * We can reach the read groups meta data and only look at those we are interested in.
  * i.e., you can delve into the metadata to understand your data better.

In [140]:
optimized_parquet_file = pq.ParquetFile('optimized_parquet_file.parquet')
rg0_metadata = optimized_parquet_file.metadata.row_group(0)
rg0_metadata_dict = rg0_metadata.to_dict()

In [141]:
[(i,x["path_in_schema"]) for i, x in enumerate(rg0_metadata.to_dict()["columns"])]

[(0, 'vendor_id'),
 (1, 'pickup_at'),
 (2, 'dropoff_at'),
 (3, 'passenger_count'),
 (4, 'trip_distance'),
 (5, 'pickup_longitude'),
 (6, 'pickup_latitude'),
 (7, 'rate_code_id'),
 (8, 'store_and_fwd_flag'),
 (9, 'dropoff_longitude'),
 (10, 'dropoff_latitude'),
 (11, 'payment_type'),
 (12, 'fare_amount'),
 (13, 'extra'),
 (14, 'mta_tax'),
 (15, 'tip_amount'),
 (16, 'tolls_amount'),
 (17, 'total_amount')]

In [142]:
name_2_pos = {x["path_in_schema"]:i for i, x in enumerate(rg0_metadata.to_dict()["columns"])}
name_2_pos

{'vendor_id': 0,
 'pickup_at': 1,
 'dropoff_at': 2,
 'passenger_count': 3,
 'trip_distance': 4,
 'pickup_longitude': 5,
 'pickup_latitude': 6,
 'rate_code_id': 7,
 'store_and_fwd_flag': 8,
 'dropoff_longitude': 9,
 'dropoff_latitude': 10,
 'payment_type': 11,
 'fare_amount': 12,
 'extra': 13,
 'mta_tax': 14,
 'tip_amount': 15,
 'tolls_amount': 16,
 'total_amount': 17}

### Bonus Question 1
    *  can you get the average transaction between 2:00-2:59 PM

In [143]:
from datetime import datetime
col_idx = name_2_pos['dropoff_at']

datetime_obj_start = datetime.strptime("2009-1-1 14:00:00", "%Y-%m-%d %H:%M:%S")
datetime_obj_end = datetime.strptime("2009-1-1 14:59:00", "%Y-%m-%d %H:%M:%S")

for i in range(optimized_parquet_file.num_row_groups):
    col_stats = optimized_parquet_file.metadata.row_group(i).column(col_idx).statistics    
    if col_stats.min <= datetime_obj_start <= col_stats.max:
        print(f"Start point (2:00 PM) found in row_group {i}")
        
    if col_stats.min <= datetime_obj_end <= col_stats.max:
        print(f"Ending point (2:59 PM) found in row_group {i}")

Start point (2:00 PM) found in row_group 2
Ending point (2:59 PM) found in row_group 2

In [145]:
# Considering "Dropoff_at" instead of "pickup_at" as the transaction takes place after the dropoff

rg2 = optimized_parquet_file.read_row_group(2)

#Drop-off time >= 2:00 PM
gr_2_00PM = pc.greater_equal(rg2['dropoff_at'], datetime_obj_start)

#Drop-off time <= 2:59 PM
ls_2_59PM = pc.less_equal(rg2['dropoff_at'], datetime_obj_end)

In [146]:
all_drop_off_in_range = pc.filter(rg2, pc.and_(gr_2_00PM, ls_2_59PM))

In [147]:
all_drop_off_in_range['total_amount']

<pyarrow.lib.ChunkedArray object at 0x179f22e80>
[
  [
    2.5,
    2.9,
    3.3,
    3.3,
    3.3,
    ...
    49.15,
    49.15,
    49.15,
    45,
    47.7
  ]
]

In [148]:
pc.mean(all_drop_off_in_range['total_amount'])

    average transaction between 2:00-2:59 PM on 2009-1-1 was <u><b>$10.37</b></u>

### Bonus Question 2
        * Which day, on average has the highest tip?

In [258]:
from tqdm import tqdm
import pandas as pd
from collections import defaultdict

In [229]:
max = 0 
max_date = ''

for i in tqdm(range(optimized_parquet_file.num_row_groups)):
    rg = optimized_parquet_file.read_row_group(i).to_pandas()
    rg['dropoff_at'] = rg['dropoff_at'].astype('str')
    rg['dropoff_at'] = rg['dropoff_at'].str.split(' ', expand=True)[0]

    rg['pickup_at'] = rg['pickup_at'].astype('str')
    rg['pickup_at'] = rg['pickup_at'].str.split(' ', expand=True)[0]
    avg_tip = rg.groupby('pickup_at')['tip_amount'].mean()
    if avg_tip.max() > max:
        max = avg_tip.max()
        max_date = avg_tip.idxmax()

100%|| 216/216 [00:46<00:00,  4.63it/s]

In [230]:
max, max_date

(5.34, '2009-01-20')

In [259]:
tip_per_day = defaultdict(float)

for i in tqdm(range(optimized_parquet_file.num_row_groups)):
    rg = optimized_parquet_file.read_row_group(i).to_pandas()
    rg['dropoff_at'] = rg['dropoff_at'].astype('str')
    rg['dropoff_at'] = rg['dropoff_at'].str.split(' ', expand=True)[0]

    rg['pickup_at'] = rg['pickup_at'].astype('str')
    rg['pickup_at'] = rg['pickup_at'].str.split(' ', expand=True)[0]
    
    total_tip = rg.groupby('pickup_at')['tip_amount'].sum()

    for date, tip in total_tip.items():
        tip_per_day[date] += tip

100%|| 216/216 [00:46<00:00,  4.68it/s]

In [261]:
# sort the dictionary by value
sorted_tip_per_day = sorted(tip_per_day.items(), key=lambda x: x[1], reverse=True)
sorted_tip_per_day

[('2009-01-30', 267957.1112399101),
 ('2009-01-29', 267373.54067611694),
 ('2009-01-16', 259469.09983444214),
 ('2009-01-22', 255874.0814113617),
 ('2009-01-23', 254119.05178260803),
 ('2009-01-15', 251352.5110092163),
 ('2009-01-14', 246874.59818458557),
 ('2009-01-21', 242664.74174791574),
 ('2009-01-27', 235145.651512146),
 ('2009-01-31', 234567.13916015625),
 ('2009-01-24', 233566.28106117249),
 ('2009-01-28', 233095.35934638977),
 ('2009-01-09', 232536.03957176208),
 ('2009-01-25', 220655.78765583038),
 ('2009-01-08', 220165.20137023926),
 ('2009-01-20', 216461.0501509905),
 ('2009-01-13', 216002.35802078247),
 ('2009-01-17', 212806.7802324295),
 ('2009-01-26', 210454.42921829224),
 ('2009-01-10', 196560.6111415103),
 ('2009-01-12', 195425.52257466316),
 ('2009-01-11', 191854.22960281372),
 ('2009-01-18', 189843.75176525116),
 ('2009-01-06', 185202.14712047577),
 ('2009-01-19', 173412.32271385193),
 ('2009-01-07', 168789.03913497925),
 ('2009-01-04', 166291.08195114136),
 ('2009-01-05', 162921.387468338),
 ('2009-01-03', 158717.58736801147),
 ('2009-01-02', 128045.41765785217),
 ('2009-01-01', 108082.29880523682)]

In [280]:
rg = optimized_parquet_file.read_row_group(213).to_pandas()
rg['dropoff_at'] = rg['dropoff_at'].astype('str')
rg['dropoff_at'] = rg['dropoff_at'].str.split(' ', expand=True)[0]

rg['pickup_at'] = rg['pickup_at'].astype('str')
rg['pickup_at'] = rg['pickup_at'].str.split(' ', expand=True)[0]

In [281]:
rg['pickup_at'].min()

'2009-01-30'

In [283]:
rg[rg['pickup_at'] == '2009-01-1']

Empty DataFrame
Columns: [vendor_id, pickup_at, dropoff_at, passenger_count, trip_distance, pickup_longitude, pickup_latitude, rate_code_id, store_and_fwd_flag, dropoff_longitude, dropoff_latitude, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, total_amount]
Index: []

In [ ]:
* Which time (hour) of the day has the highest tip?

### Resources

1.  [Apache Arrow Homepage](https://arrow.apache.org/)
2.  [PyArrow Documentation](https://arrow.apache.org/docs/python/)
3.  [PyArrow GitHub Repository](https://github.com/apache/arrow/tree/master/python/pyarrow)